/* Style général */
body {
  font-family: Arial, sans-serif;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-board {
  margin-right: 20px;
}

.game-info {
  margin-left: 20px;
}

.status {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.board-row {
  display: flex;
}

.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
  background: #ddd;
}

.square:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

ol,
ul {
  padding-left: 30px;
}

button {
  background: #7cec80;
  border: none;
  color: rgb(17, 16, 16);
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}

button:focus {
  outline: none;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
